APP_PORT=8082
DB_PORT=5432
DB_NAME=hasilpanen_db
DB_USER=hasilpanen_user
DB_PASSWORD=change_me
AUTH_SERVICE_BASE_URL=http://localhost:8080
KEBUN_SERVICE_BASE_URL=http://localhost:8081
INTEGRATION_CLIENT_TIMEOUT_MS=3000
